In [1]:
if 4 in [1,2,3,4]:
    print('4가 있습니다')

4가 있습니다

In [3]:
langs = ['python', 'perl', 'c', 'java','suyeon']

for lang in langs:
    if lang in ['python', 'perl']:
        print("%6s needs interpreter"% lang)
    elif lang in ['c','java']:
        print('%6s need compiler'% lang)
    else:
        print('should not reach here')

python needs interpreter
  perl needs interpreter
     c need compiler
  java need compiler
should not reach here

## 문자열

In [1]:
ml = 'life is too short,\nYou need python.'
print(ml)

life is too short,
You need python.

In [2]:
ml

'life is too short,\nYou need python.'

In [3]:
ml = '''
life is too short,
You need python.
'''
print(ml)

life is too short,
You need python.

In [4]:
ml

'\nlife is too short,\nYou need python.\n'

In [9]:
mls = """
life is too short,
You need python.
"""
print(mls)

life is too short,
You need python.

In [13]:
"life is \"too\" short, You need python."

'life is "too" short, You need python.'

In [14]:
'life is \'too\' short, You need python.'

"life is 'too' short, You need python."

In [5]:
print("life is \\too\\ short, You need python.")

life is \too\ short, You need python.

In [24]:
sy="life is too short,\n You need python."
print(sy)
sm="life is too short,\t You need python."

life is too short,
 You need python.

In [6]:
print("life is too short,\t You need python.")

life is too short,	 You need python.

In [25]:
print(sm)

life is too short,	 You need python.

### 문자열 연산하기

In [28]:
head='python'
tail = 'is fun!'
print(head + tail)

pythonis fun!

In [29]:
print(head*2)

pythonpython

In [30]:
print(head*head)

TypeError: can't multiply sequence by non-int of type 'str'

In [33]:
print('='*50)
print(head+' '+tail)
print('='*50)

==================================================
python is fun!
==================================================

### 문자열 인덱싱 & 슬라이싱

In [34]:
a = 'Life is too short, You need python.'
a[2]

'f'

In [36]:
a[-2]

'n'

In [37]:
a[:]

'Life is too short, You need python.'

In [38]:
a[0:5]

'Life '

In [39]:
b=a[0]+a[1]+a[2]+a[3]
print(b)

Life

In [40]:
a[:17]

'Life is too short'

In [41]:
a[19:]

'You need python.'

In [42]:
a[19:-7]

'You need '

In [43]:
#date, weather를 나눠보자.
a= '20010331Rainy'

In [46]:
a[:8]

'20010331'

In [47]:
a[8:]

'Rainy'

In [49]:
print(a[:4]) #year
print(a[4:6]) #month
print(a[6:8]) #day

2001
03
31

In [56]:
#문자 수정하기--> 불가능!!
a='Pithon'
a[1] ='y'

TypeError: 'str' object does not support item assignment

In [59]:
a[0]+'y'+a[2:]

'Python'

In [58]:
a[2:]

'thon'

### 문자열 포매팅(formatting)
- d: 숫자
- f: 소수 숫자 
- s: 문자(뿐만 아니라 어떤 형태든 가능)

In [1]:
'나는 사과를 %d개 먹었다.'%3

'나는 사과를 3개 먹었다.'

In [2]:
print('나는 사과를 %s개 먹었다.'% '다섯')
print('나는 사과를 %s개 먹었다.'% 5)
print('나는 사과를 %s개 먹었다.'% '5')

나는 사과를 다섯개 먹었다.
나는 사과를 5개 먹었다.
나는 사과를 5개 먹었다.

In [3]:
num = 5
print('나는 사과를 %d개 먹었다.'%num)

나는 사과를 5개 먹었다.

In [7]:
num = 10
day='삼'
print('나는 %s개의 사과를 먹어서 %s일 동안 아팠어.'%(num, day))

나는 10개의 사과를 먹어서 삼일 동안 아팠어.

In [16]:
print('나의 성적은 %d점이야.'%98.1723)
print('나의 성적은 %f점이야.'%98.1723)
print('나의 성적은 %10s점이야.'%98.1723)

나의 성적은 98점이야.
나의 성적은 98.172300점이야.
나의 성적은    98.1723점이야.

In [14]:
#진짜로 %를 쓰고 싶을 땐? -> %s 뒤에 %%를 붙이기!
print('나의 수학 백분율은 %s%%야.'%97)
print('Error is %d %%'%98)

나의 수학 백분율은 97%야.
Error is 98 %

#### 포맷 코드+숫자 함께 사용
- 정렬  -> 10 이용
- 소수점 표현 가능!

In [15]:
"%10s" % "hi"

'        hi'

In [8]:
"%-10s"%5

'5         '

In [23]:
print("%-10s jane"%"hi")
print("%s jane"%"hi")

hi         jane
hi jane

In [10]:
print("%0.4f"%3.42134234)
print("%f"%3.42134234)

3.4213
3.421342

In [107]:
"%-10.4f"%3.42134234242

'3.4213    '

In [11]:
"%10.8f"%3.421342

'3.42134200'

### 문자열 관련 함수

In [25]:
#문자 개수 세기(count)
a='hobby'
a.count('b')

2

In [14]:
'hobby'.count('b')

2

In [15]:
#위치 알려주기 1(find)
a='Python is best choice'
a.find('e')

11

In [32]:
a.find('p') #대소문자 구분. -1 반환은 없다는 뜻임

-1

In [28]:
a.find('P')

0

In [33]:
#위치 알려주기 2(index)
a='Life is too short'
a.index('t')

8

In [34]:
a.index('z') #없을 땐 에러

ValueError: substring not found

In [16]:
#문자열 삽입(join)
a=','
a.join('36578')

'3,6,5,7,8'

In [36]:
#대문자로 바꾸기(upper)
a='hi'
a.upper()

'HI'

In [37]:
#소문자로 바꾸기(lower)
a='HI'
a.lower()

'hi'

In [38]:
a='SuyeoN gives me some hot orange juice.'
a.upper()

'SUYEON GIVES ME SOME HOT ORANGE JUICE.'

In [39]:
a.lower()

'suyeon gives me some hot orange juice.'

In [41]:
'Suyeon looks so pretty.'.upper()

'SUYEON LOOKS SO PRETTY.'

In [48]:
b='$'
b.join('Suyeon looks so pretty.')

'S$u$y$e$o$n$ $l$o$o$k$s$ $s$o$ $p$r$e$t$t$y$.'

In [51]:
'Suyeon looks so pretty.'.index('S')

0

In [52]:
#왼쪽, 오른쪽 공백 지우기
a=' hi '

In [54]:
print(a.lstrip())
print(a.rstrip())

hi
 hi

In [55]:
#양쪽 공백 지우기
a.strip()

'hi'

In [20]:
a='★안녕★★'
print(a.strip('★'))

안녕

In [21]:
print(a.lstrip('★'))

안녕★★

In [58]:
#문자열 바꾸기(replace)
a='Life is too short'
b=a.replace('Life', 'Your leg')

In [59]:
print(a)
print(b)

Life is too short
Your leg is too short

In [7]:
#문자열 나누기(split)
a='Life is too short'
b= a.split() #a.split(' ') 같은결과

In [8]:
b

['Life', 'is', 'too', 'short']

In [63]:
type(b)

list

In [67]:
a='a:b:c:d'
a.split(':')

['a', 'b', 'c', 'd']

In [68]:
aw='fda*dfasfdsasdf*dasfdsk*dsa2*adfsafsd'
aw.split('*')

['fda', 'dfasfdsasdf', 'dasfdsk', 'dsa2', 'adfsafsd']

In [70]:
'fdjaioeo|eajwejoiwe|djafo'.split("|")

['fdjaioeo', 'eajwejoiwe', 'djafo']

### 고급 문자열 포매팅: .format()

In [71]:
'I eat {0} apples'.format(3)

'I eat 3 apples'

In [72]:
'My math score is {0:.2f}'.format(97.3232)

'My math score is 97.32'

In [73]:
'I eat {0} apples'.format('five')

'I eat five apples'

In [74]:
num = 100
'I eat {0} apples'.format(num)

'I eat 100 apples'

In [76]:
num1=100
num2=340
num3=509
a= 'I have {0} pens, {1} pencils and {2} erasers.'.format(num1, num2, num3)
print(a)

I have 100 pens, 340 pencils and 509 erasers.

In [84]:
'I have {0} pens, {1} pencils and {2} erasers.'.format(100, 201, 399)

'I have 100 pens, 201 pencils and 399 erasers.'

In [77]:
a.upper()

'I HAVE 100 PENS, 340 PENCILS AND 509 ERASERS.'

In [78]:
a.count('e')

5

In [79]:
a.find('e')

5

In [85]:
#이름 이용!(인덱스 순서 안맞춰도 됨.)
'I have {num1} pens, {num2} pencils and {num3} erasers'.format(num2=32, num1=5032, num3=324)

'I have 5032 pens, 32 pencils and 324 erasers'

In [83]:
#혼용
'I ate {0} apples. so I was sick for {day} days.'.format(10, day=15)

'I ate 10 apples. so I was sick for 15 days.'

In [88]:
#왼쪽 정렬
'%-10s'%'hi'

'hi        '

In [89]:
'{0:<10}'.format('hi')

'hi        '

In [90]:
'{0:>10}'.format('hi')

'        hi'

In [91]:
'{0:^10}'.format('hi')

'    hi    '

In [94]:
'{0:=^10}'.format('hi')

'====hi===='

In [114]:
'{0:★^10}'.format('hi')

'★★★★hi★★★★'

In [95]:
'{0:><10}'.format('hi')

'hi>>>>>>>>'

In [102]:
'{0:->10}'.format('hi')

'--------hi'

In [23]:
#소수점 표현하기
y=3.1432349

In [24]:
'{0:.3f}'.format(y)

'3.143'

In [27]:
'{0:10.3f}'.format(y)

'     3.143'

In [28]:
z=21.3134319
'{0:10.3f} and {1:10.3f}'.format(y,z)

'     3.143 and     21.313'

In [110]:
'{{and}}'.format()

'{and}'

In [113]:
'I have an sweet baby {{and}} cats.'.format()

'I have an sweet baby {and} cats.'

### 예제

In [44]:
import pandas as pd
a={'name':['su','yeon'],'age':[12.3193,13.15643]}
anew=pd.DataFrame(a)

In [45]:
anew

   name       age
0    su  12.31930
1  yeon  13.15643

In [46]:
anew['new_age'] = anew['age'].apply(lambda x: '{0:.2f}'.format(x)) ##반드시 문자열로 인식되도록 ' ' 쓰기

In [47]:
anew['new_age2'] = anew['age'].apply(lambda x: '%0.4f'%x) ##반드시 문자열로 인식되도록 ' ' 쓰기

In [48]:
anew['new_name1']=anew['name'].apply(lambda x: '{0:^10}'.format(x))
anew['new_name2']=anew['name'].apply(lambda x: '{0:★^10}'.format(x))

In [49]:
anew

   name       age new_age new_age2   new_name1   new_name2
0    su  12.31930   12.32  12.3193      su      ★★★★su★★★★
1  yeon  13.15643   13.16  13.1564     yeon     ★★★yeon★★★

In [50]:
import re
anew['new']=anew['new_name2'].apply(lambda x: re.sub('★',' ',x))

In [51]:
anew

   name       age new_age new_age2   new_name1   new_name2         new
0    su  12.31930   12.32  12.3193      su      ★★★★su★★★★      su
1  yeon  13.15643   13.16  13.1564     yeon     ★★★yeon★★★     yeon

In [52]:
anew['new2']=anew['new_name2'].apply(lambda x: x.strip('★'))
anew

   name       age new_age new_age2   new_name1   new_name2         new  new2
0    su  12.31930   12.32  12.3193      su      ★★★★su★★★★      su        su
1  yeon  13.15643   13.16  13.1564     yeon     ★★★yeon★★★     yeon     yeon