In [3]:
#잘못된 문자열 수정하기 : list로 만든 후 수정->다시 join해서 붙이기.
#문자열 그 자체로는 수정 불가!
sw = 'swyeon'
sw2 = list(sw)
sw2

['s', 'w', 'y', 'e', 'o', 'n']

In [10]:
sw[1]='u'

TypeError: 'str' object does not support item assignment

In [4]:
sw2[1]='u'
sw2

['s', 'u', 'y', 'e', 'o', 'n']

In [9]:
blank=''
print(blank.join(sw2))
print(type(blank.join(sw2)))

suyeon
<class 'str'>

## 1. List: 모음집
- 리스트 안에는 어떠한 자료형도 포함 가능!(문자, 숫자, 리스트, ....)

In [11]:
odd = [1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [13]:
odd = list()
odd2 = []
print(odd, odd2)

[] []

### 인덱싱 & 슬라이싱
- 어떻게 슬라이싱하든 항상 리스트다!
- 인덱싱은 뭘 인덱싱하느냐에 따라 문자/숫자/리스트로 나올수 있음.

In [15]:
a=[1,2,3]
a

[1, 2, 3]

In [21]:
a[-1]

3

In [17]:
a[:]

[1, 2, 3]

In [19]:
a[0:2]

[1, 2]

In [20]:
a[0]+a[1]

3

In [22]:
a2 = [1,2,3,a,['a','b','c']]
a2

[1, 2, 3, [1, 2, 3], ['a', 'b', 'c']]

In [25]:
a2[3]

[1, 2, 3]

In [30]:
a2[3][-1]

3

In [31]:
#삼중 리스트
a3 = [1,2,['a','b',['Life','is']]]
a3

[1, 2, ['a', 'b', ['Life', 'is']]]

In [38]:
a3[2][2][0]

'Life'

In [39]:
a='12345' #문자
a1=[1,2,3,4,5] #리스트

In [46]:
#슬라이싱
print(a[0:2])
print(a1[0:2])

12
[1, 2]

In [47]:
type(a1[4])

int

In [49]:
a=[1,2,3,4,5]
b=a[:2]
c=a[2:]
print(b,c)

[1, 2] [3, 4, 5]

In [50]:
#중첩된 리스트에서 슬라이싱하기
a=[1,2,3,['a','b','c'],4,5]
a

[1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [56]:
a[3:5][0][1]

'b'

In [54]:
a[3]

['a', 'b', 'c']

### 리스트 연산자(+,*)

In [61]:
#문자열 
a='suyeon'
print(a*2)
print(a+a)
print('='*50)
print('*'+'*')

suyeonsuyeon
suyeonsuyeon
==================================================
**

In [72]:
'su'+'yeon'

'suyeon'

In [156]:
#리스트에서도 된다!(다만 +가 진짜 더하기가 아니고, *가 진짜 곱하기가 아님!!)
a=[1,2,3]
b=[4,5,6] 
a+b#새로운 리스트!

[1, 2, 3, 4, 5, 6]

In [63]:
a*b #리스트끼리는 곱셈불가

TypeError: can't multiply sequence by non-int of type 'list'

In [67]:
a*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [68]:
su=['su','yeon','pretty']
y=['yes','she','is']
su+y

['su', 'yeon', 'pretty', 'yes', 'she', 'is']

In [69]:
su*2

['su', 'yeon', 'pretty', 'su', 'yeon', 'pretty']

In [80]:
a=[1,2,3]
str(a[2])+'hi'
str(3)+'hello'

'3hello'

### 수정, 변경, 삭제 가능!
- 문자열에선 불가능했던 기능

In [83]:
#수정: 인덱싱, 슬라이싱으로 가능!
a=[1,2,3]
a[2]=100
a

[1, 2, 100]

In [82]:
a[0:2]=[50, 150]
a

[50, 150, 100]

In [84]:
a[0:2]=[1,2,3,4] #꼭 개수를 안맞춰도 된다!!
a

[1, 2, 3, 4, 100]

In [85]:
a[2]=[103,1,34,55,12,2]
a

[1, 2, [103, 1, 34, 55, 12, 2], 4, 100]

In [86]:
#삭제(빈 리스트): 인덱싱, 슬라이싱으로 가능!
a[1]=[]
a

[1, [], [103, 1, 34, 55, 12, 2], 4, 100]

In [89]:
a[1:3]=[]
a

[1, 4, 100]

In [90]:
#삭제(del): 인덱싱, 슬라이싱으로 가능!
del a[1]
a

[1, 100]

In [91]:
b=[1,43,23,2,3,2,2,4,4,2,21]
del b[1:3]
b

[1, 2, 3, 2, 2, 4, 4, 2, 21]

### 리스트 관련 함수들

In [159]:
#리스트에 요소 추가(append)
a=[1,2,3]
a.append('수연')
a

[1, 2, 3, '수연']

In [97]:
a.append(5,6,7,8)
a

TypeError: append() takes exactly one argument (4 given)

In [98]:
a.append([5,6,6,7])
a

[1, 2, 3, 4, [5, 6, 6, 7]]

In [100]:
#리스트 정렬(sort)-->한번 하고 나면 이제는 반드시 리스트 출력 시 정렬돼서 출력!
a=[342,12,2345,1244,133]
a.sort()
a

[12, 133, 342, 1244, 2345]

In [102]:
a=['saron','betty','chris','merry']
a.sort()
a

['betty', 'chris', 'merry', 'saron']

In [103]:
#리스트 뒤집기(reverse)--> 한번 하고 나면 얘도 역시 이 상태 그대로 적용됨.
a=[342,12,2345,1244,133]
a.reverse()
a #주의: 정렬은 안하고 그냥 본래 리스트 순서를 뒤집는 것뿐임.

[133, 1244, 2345, 12, 342]

In [104]:
a

[133, 1244, 2345, 12, 342]

In [105]:
#인덱스 반환(index)-> 찾고자 하는 것이 몇번째에 있는지?(인덱스 번호를 알려줌.)
a.index(12)

3

In [106]:
a=['saron','betty','chris','merry']
a.index('merry')

3

In [107]:
a[3]

'merry'

In [160]:
#리스트 요소 삽입(insert)
a=[1,2,3]
a.insert(0,[4,5,6]) #0의 위치에 4 삽입
a

[[4, 5, 6], 1, 2, 3]

In [161]:
a.insert(3,'tndus')
a

[[4, 5, 6], 1, 2, 'tndus', 3]

In [110]:
#리스트 요소 제거
a=[1,2,3,1,2,3]
a[0:1]=[]
a

[2, 3, 1, 2, 3]

In [111]:
del a[0]
a

[3, 1, 2, 3]

In [112]:
a.remove(3) #첫 번째로 나오는 remove(x)의 x를 없애줌.(한번에 한개씩만 없앰!!)
a

[1, 2, 3]

In [113]:
a.remove(3)
a

[1, 2]

In [114]:
#리스트 요소 끄집어내기(pop)-> 리스트의 맨 마지막 요소를 뽑고 삭제함!
a=[1,2,3]
a.pop()

3

In [115]:
a

[1, 2]

In [116]:
a=[12,4,32,423,21,34,2] 
a.pop(4) #몇번째 것을 뽑을건지 지정 가능.

21

In [117]:
a

[12, 4, 32, 423, 34, 2]

In [118]:
#리스트에 포함된 요소 x의 개수 세기(count)
a=[1,2,3,1,1,1,1]
a.count(1)

5

In [119]:
a.count(3)

1

In [164]:
#리스트 확장(extend): 리스트 내 리스트 ㄴㄴ. 리스트 뒤에 붙임(흡수)!
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [129]:
b=[6,7]
a.extend(b)

In [130]:
a

[1, 2, 3, 4, 5, 6, 7]

In [131]:
a+b

[1, 2, 3, 4, 5, 6, 7, 6, 7]

In [132]:
a*2

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [133]:
a+=[6,7]
a

[1, 2, 3, 4, 5, 6, 7, 6, 7]

## 2. 튜플(tuple)
- 리스트랑 비슷하나 값을 바꿀 수 없음.
- 리스트는 [] 지만 튜플은 ()
- 또는 콤마(,)로 연결돼 있으면 다 튜플이다!

In [134]:
t1=()
t1

()

In [135]:
t2=(1,)
t2

(1,)

In [136]:
t3=(1,3,4)
t3

(1, 3, 4)

In [137]:
t4=1,2,3 #얘도 튜플임!
t4

(1, 2, 3)

In [138]:
t5=('a','b',('ab','cd'))
t5

('a', 'b', ('ab', 'cd'))

In [139]:
'a','b',('ab','cd')

('a', 'b', ('ab', 'cd'))

In [140]:
32321,12,435354,2123

(32321, 12, 435354, 2123)

### 튜플은 값을 삭제, 수정이 불가능!!!!!!

In [141]:
t1=1,2,'a','b'
t1

(1, 2, 'a', 'b')

In [142]:
t1[0]

1

In [143]:
#삭제 불가.
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [144]:
t1[0]=[]

TypeError: 'tuple' object does not support item assignment

In [145]:
#수정 불가
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

### 하지만 값 변화가 안된다는 것만 빼면 리스트와 동일(인덱싱, 슬라이싱, 연산자-더하기, 곱하기)

In [147]:
t1

(1, 2, 'a', 'b')

In [146]:
#인덱싱
t1[2]

'a'

In [150]:
#슬라이싱
t1[1:]

(2, 'a', 'b')

In [149]:
#더하기
t1+(7,)

(1, 2, 'a', 'b', 7)

In [151]:
t2=3,4
t1+t2

(1, 2, 'a', 'b', 3, 4)

In [152]:
#곱하기
t2*3

(3, 4, 3, 4, 3, 4)