## 2-5. 딕셔너리
- {key:value, key:value, ...}
- value에는 어떤 형태든 넣을 수 있음. `문자/숫자/리스트/튜플/딕셔너리 등...`
- key에는 __문자/숫자/튜플만__ 가능. 리스트x (왜냐, key는 변하지 않는 값을 써야 하기 때문)
- 인덱싱&슬라이싱 불가능. 반드시 key를 통해서만 출력 가능.

### 딕셔너리 만들기, 추가, 삭제 -> key 이용!
- 주의: key는 반드시 고유한 값으로. 중복x

In [1]:
#딕셔너리 쌍 추가하기
a={1:'a'}
a

{1: 'a'}

In [2]:
a[2]='b' #딕셔너리[key]=새로운 value
a

{1: 'a', 2: 'b'}

In [3]:
a['name']='pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [4]:
a[3]=[43,2,32432]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [43, 2, 32432]}

In [5]:
#딕셔너리 요소 수정하기(단, key는 안되고 value만 수정가능.)
a['name'] = 'suyeon'
a

{1: 'a', 2: 'b', 'name': 'suyeon', 3: [43, 2, 32432]}

In [5]:
#딕셔너리 요소 삭제하기
del a[1] #del 딕셔너리[key] --> 해당 key와 value가 삭제됨.
a

{2: 'b', 'name': 'pey', 3: [43, 2, 32432]}

In [10]:
#key가 중복된다면?-->마지막 key값만 제외하고 모두 무시함.
a={1:'a',1:'b'}
a

{1: 'b'}

In [11]:
a={1:'a','sy':'b'}
a

{1: 'a', 'sy': 'b'}

In [143]:
ay=dict()
ay2={}
ay2

{}

### 딕셔너리를 제대로 활용해보자!

In [6]:
#key 이용해 value 얻기 --> 딕셔너리[key] 출력 시 value 나옴. 인덱싱&슬라이싱 사용 불가.
grade = {'pey':10, 'julliet':99}
grade['pey']

10

In [7]:
grade['julliet']

99

In [8]:
a={'a':1,'b':2}
print(a['a'])

1

In [9]:
print(a[0])

KeyError: 0

### 딕셔너리 관련 함수들

In [144]:
#key 리스트 만들기(딕셔너리.keys())
a={'name':['pey','suyeon','yes'], 'phone':[3212,3201,3992], 'birth':[1118,2103]}
a

{'name': ['pey', 'suyeon', 'yes'],
 'phone': [3212, 3201, 3992],
 'birth': [1118, 2103]}

In [145]:
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [146]:
list(a.keys())

['name', 'phone', 'birth']

In [147]:
#dict_keys 객체 이용
for k in a.keys():
    print(k)

name
phone
birth

In [148]:
#value 리스트 만들기(딕셔너리.values())
a.values()

dict_values([['pey', 'suyeon', 'yes'], [3212, 3201, 3992], [1118, 2103]])

In [149]:
list(a.values())

[['pey', 'suyeon', 'yes'], [3212, 3201, 3992], [1118, 2103]]

In [150]:
#key, value 쌍 얻기(딕셔너리.items())
a.items()

dict_items([('name', ['pey', 'suyeon', 'yes']), ('phone', [3212, 3201, 3992]), ('birth', [1118, 2103])])

In [151]:
list(a.items())

[('name', ['pey', 'suyeon', 'yes']),
 ('phone', [3212, 3201, 3992]),
 ('birth', [1118, 2103])]

In [153]:
type(list(a.items())[0])

tuple

In [23]:
#딕셔너리 쌍 모두 삭제(딕셔너리.clear())
a.clear()

In [24]:
a

{}

In [25]:
#key로 value 얻기(딕셔너리.get(key) 이건 앞서 본 딕셔너리[key]와 동일!) -->반드시 key는 1개만 쓸수있다.(여러개 써도 1개 key값만 출력됨..)
a={'name':['pey','suyeon','yes'], 'phone':[3212,3201,3992], 'birth':[1118,2103]}
a['name']

['pey', 'suyeon', 'yes']

In [26]:
a.get('name')

['pey', 'suyeon', 'yes']

In [27]:
a['nokey']

KeyError: 'nokey'

In [28]:
a.get('nokey') #하지만 존재하지 않는 key 값을 출력하면 아무값도 출력 안됨.(딕셔너리[key]는 에러 출력)

In [31]:
## 그래서 a.get(key)를 이용하고자 하면 "딕셔너리.get(key, 디폴트)"를 써서 출력하는게 편리!
a.get('nokey', 'foo') #디폴트 값을 출력한다면 key값이 없단 뜻.

'foo'

In [90]:
#해당 key가 딕셔너리 안에 있는지 조사(key in 딕셔너리)
a

{'name': ['pey', 'suyeon', 'yes'],
 'phone': [3212, 3201, 3992],
 'birth': [1118, 2103]}

In [91]:
'name' in a

True

In [92]:
'height' in a

False

In [93]:
a

{'name': ['pey', 'suyeon', 'yes'],
 'phone': [3212, 3201, 3992],
 'birth': [1118, 2103]}

In [94]:
print(a.pop('birth'))
print(a)

[1118, 2103]
{'name': ['pey', 'suyeon', 'yes'], 'phone': [3212, 3201, 3992]}

## 2-6. 집합(set) 자료형
- set() 이용해서 만듦. 안에는 문자,리스트,튜플,딕셔너리 등등 넣을수 있음(단 숫자는 x)
- 만들어진 집합은 {}이걸로 묶이지만 딕셔너리와는 다르다!!
- 가장 큰 특징 2가지: __중복을 허용하지 않고, 순서가 없다!!__  --> 자동으로 정렬되어 출력!
- 인덱싱&슬라이싱 불가능.(하고 싶다면 리스트/튜플로 바꾼 후 진행)

In [37]:
#집합 만들기
s1=set([1,2,3])
s1

{1, 2, 3}

In [40]:
s2=set('hello')
s2

{'e', 'h', 'l', 'o'}

In [39]:
type(s2)

set

In [43]:
s3=set(3)
s3

TypeError: 'int' object is not iterable

In [1]:
s4=set({'name':'suyeon','a':'yes'})
s4

{'a', 'name'}

In [2]:
s5=set((1,))
s5

{1}

In [3]:
#연산자 사용 불가 
s4+s5

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [4]:
s5*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [47]:
#set은 인덱싱 불가능. 만일 하고 싶다면 리스트/튜플로 변환 후 해야 함!
s1=set([1,2,3])
s1

{1, 2, 3}

In [48]:
s1[0]

TypeError: 'set' object is not subscriptable

In [50]:
#변환
l1 = list(s1)
l1

[1, 2, 3]

In [51]:
l1[0]

1

In [52]:
t1= tuple(s1)
t1

(1, 2, 3)

In [53]:
t1[0]

1

### 집합 자료 활용하기
- 교집합(&), 합집합(|), 차집합(-) 구하기
- add: 값 1개 추가하기
- update: 값 여러개 추가하기
- remove: 특정 값 제거하기

In [55]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])

In [56]:
#교집합(&)
s1&s2

{4, 5, 6}

In [57]:
s1.intersection(s2)

{4, 5, 6}

In [58]:
s2.intersection(s1)

{4, 5, 6}

In [60]:
#합집합(|)
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [61]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [62]:
s2.union(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [63]:
#차집합(-)
s1-s2

{1, 2, 3}

In [64]:
s2-s1

{7, 8, 9}

In [65]:
s1.difference(s2)

{1, 2, 3}

In [66]:
s2.difference(s1)

{7, 8, 9}

In [67]:
#set.add(추가할것) :값 1개만 추가가능!!!!
s1=set([1,2,3])
s1

{1, 2, 3}

In [68]:
s1.add(4)
s1

{1, 2, 3, 4}

In [69]:
s1.add([62,2,1,43,243])
s1

TypeError: unhashable type: 'list'

In [70]:
s1.add('수연')
s1

{1, 2, 3, 4, '수연'}

In [71]:
#set.update(추가할것): 값 여러개 추가가능!!
s1.update([62,2,1,43,243])
s1

{1, 2, 243, 3, 4, 43, 62, '수연'}

In [72]:
#set.remove(제거할값): 값 1개만 제거가능!!
s1

{1, 2, 243, 3, 4, 43, 62, '수연'}

In [73]:
s1.remove(243)
s1

{1, 2, 3, 4, 43, 62, '수연'}

In [75]:
s1.remove([1,2])

TypeError: unhashable type: 'list'

In [76]:
s1.remove('수연')
s1

{1, 2, 3, 4, 43, 62}

## 2-7. 자료형의 참과 거짓

In [98]:
a=[1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [104]:
a=[1,2,3,4]
while True:
    print(a.pop())

4
3
2
1

IndexError: pop from empty list

#### 리스트, 튜플, 딕셔너리, 문자열 등의 값이 비어 있으면, 거짓(False)이다!!

In [105]:
if []:
    print('True')
else:
    print('False')

False

In [108]:
if [1,2,3]:
    print('T')
else:
    print('F')

T

## 2-8. 변수
- 파이썬에서 모든 자료형은 객체이다! ->그래서 숫자는 상수가 아니라, 정수형 객체이다.

In [109]:
a=3
b=3
a is b #동일한 객체를 가리킨다면 True

True

In [110]:
a=3
b=5
a is b

False

In [111]:
## 변수를 만드는 다양한 방법
a,b=('p','l')

In [113]:
print(a)
print(b)
print(a,b)

p
l
p l

In [159]:
a,b='p','l'

In [160]:
print(a)
print(b)
print(a,b)

p
l
p l

In [116]:
[a,b]=['p','l']

In [157]:
a,b=[['p','n'],'l']

In [158]:
print(a)
print(b)
print(a,b)

['p', 'n']
l
['p', 'n'] l

In [118]:
a=b='p'

In [119]:
print(a)
print(b)
print(a,b)

p
p
p p

In [122]:
print(a,b,a,b,a,b,a,b,b)

p p p p p p p p p

In [123]:
a=3
b=5
a, b = b, a #두 변수의 값을 바꿀 수 있음.
print(a, b)

5 3

### # 리스트를 복사하고자 할 때
- 그냥 a=b 쓰면 안된다!
- 대신 [:], a.copy 사용하기.

In [134]:
#잘못된 방법
a=[1,2,3]
b=a
b

[1, 2, 3]

In [135]:
a[1]=4
a

[1, 4, 3]

In [136]:
b

[1, 4, 3]

In [137]:
b is a

True

In [127]:
#방법1. [:]이용
a=[1,2,3]
b=a[:]
b

[1, 2, 3]

In [128]:
a[1]=4
a

[1, 4, 3]

In [129]:
b

[1, 2, 3]

In [161]:
#방법2. copy 함수 이용
a=[1,2,3]
b=a.copy()
b

[1, 2, 3]

In [162]:
a[1]=4
a

[1, 4, 3]

In [163]:
b

[1, 2, 3]

In [164]:
b is not a

True

In [139]:
from copy import copy
a=[1,2,3]
b=copy(a)
b

[1, 2, 3]

In [141]:
a[1]=4
b

[1, 2, 3]