## 05-5. 내장 함수 
- 파이썬 내에 제공되는 함수들. 따로 import 필요하지 않음!
- 맞춤법 주의, 만일 내장함수라면 자동으로 녹색 표시가 됨.

In [1]:
#abs(x): x의 절댓값을 돌려주는 함수. 반드시 x가 완전한 숫자여야 하는 건 아니고 수식을 넣어도 된다.(대신 숫자값만 입력가능)
abs(3)

3

In [2]:
abs(-100)

100

In [3]:
abs(-1.2)

1.2

In [4]:
abs(-4-8)

12

In [5]:
abs(4+8-10+3-7)

2

In [6]:
abs(2**4-3**3+5/2)

8.5

In [8]:
for i in 'suyeon':
    print(i)

s
u
y
e
o
n

In [9]:
#all(x): x는 반복 가능한 자료(리스트, 튜플, 문자열, 딕셔너리, 집합)이며, x가 모두 참이면 True, 하나라도 거짓이면 False 반환
all([1,2,3])

True

In [10]:
all([0,1,2]) #0은 거짓이니까

False

In [11]:
all(('','수','','연')) #빈 문자열은 거짓이니까

False

In [16]:
#any(x): x가 하나라도 참이면 True, 모두 거짓이면 False 반환
any([1,2,0])

True

In [17]:
any([0,0])

False

In [18]:
any([0,''])

False

#### #chr(i): i는 아스키 코드(0~127 사이의 숫자값)이며 출력값으로는 각 코드에 대응하는 문자or기호가 출력된다.
#### #ord(c): c는 아스키 코드에 대응하는 문자or기호이며 출력값으로는 아스키 코드 숫자가 출력됨.
- 둘은 반대임!

In [19]:
chr(0)

'\x00'

In [20]:
chr(97)

'a'

In [21]:
chr(50)

'2'

In [23]:
chr(12)

'\x0c'

In [142]:
print(ord('a'))
print(ord('2'))

97
50

In [30]:
#dir(객체): 객체가 자체적으로 갖고 있는 변수 or 함수를 보여준다.
#dir(리스트) - 리스트의 함수들 출력 
#dir(딕셔너리) - 딕셔너리의 함수들 출력
print(dir([1,2,3]))
print('='*50)
print(dir({'a':'copy'}))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
==================================================
['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

#### #divmod(a,b): a,b는 2개의 숫자이며 a를 b로 나눈 몫과 나머지를 튜플 형태로 반환
#### #pow(a,b): a의 b제곱한 결과를 리턴

In [34]:
divmod(8,2)

(4, 0)

In [35]:
divmod(400, 5)

(80, 0)

In [36]:
a,b=divmod(488, 6) #튜플의 특징 이용
print(a); print(b)

81
2

In [143]:
pow(2,3)

8

In [144]:
2**3

8

### enumerate(x)
- x는 리스트, 튜플, 문자열이어야 하며,
- 출력은 인덱스 값과 그 인덱스의 해당 값(ind, name)을 출력한다.
- `for문`과 함께 많이 사용됨

In [37]:
for ind, name in enumerate(['body','foo','bar']):
    print(ind, name)

0 body
1 foo
2 bar

In [39]:
for ind, name in enumerate(('body','foo','bar')):
    print(ind, name)

0 body
1 foo
2 bar

In [40]:
for ind, name in enumerate('suyeon'):
    print(ind, name)

0 s
1 u
2 y
3 e
4 o
5 n

### eval("x") <-반드시 따옴표(',")로 묶여있어야 함.
- x는 실행 가능한 문자열('1+2', 'hi'+'suyeon' 같은 것)을 입력으로 받음(숫자는 숫자끼리, 문자는 문자끼리여야 함)
- 결과값으로는 문자열을 실행한 값을 반환

In [2]:
type(eval('1+2'))

int

In [4]:
type(eval("'hi'+'a'"))

str

In [6]:
type(eval('divmod(4,3)'))

tuple

In [49]:
eval('abs(4-8)')

4

In [50]:
eval("'hi'+3")

TypeError: can only concatenate str (not "int") to str

### filter(함수명, 반복 가능한 자료형)
- 함수에 반복 가능한 자료형(리스트, 튜플, 문자열, 딕셔너리, 집합)을 넣었을 떄 리턴값이 참인 것만 걸러내서 반환

In [53]:
#양수값만 반환하는 함수 
def positive(numList): #입력: 리스트
    result = []
    for num in numList:
        if num >0:
            result.append(num)
    return result

In [54]:
print(positive([1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [55]:
#위 함수를 filter함수를 이용해 다시 만들어보자.
def positive(x):
    return x>0 #return값은 True/False

In [60]:
positive(1)

True

In [63]:
print(filter(positive, [1,-3,2,0,-5,6])) #결과를 보면 리스트 중에 양수인 것만 True가 반환될 것임. 하지만 이상태로는 filter가 반환되므로

<filter object at 0x00000162BAB8E648>

In [62]:
print(list(filter(positive, [1,-3,2,0,-5,6]))) #결과를 list()로 묶어서 리스트 값으로 출력.

[1, 2, 6]

In [64]:
#아니면 함수를 def말고 lambda로 정의해도 됨
list(filter(lambda x: x>0, [1,-3,2,0,-5,6]))

[1, 2, 6]

In [68]:
#id(object): object(객체)를 입력받으면 객체의 고유 주소값(레퍼런스)를 리턴함
##즉, 객체의 주소값을 반환 
a=3
id(a)

140711661904336

In [69]:
id(3)

140711661904336

In [70]:
b=a

In [71]:
id(b) #3,a,b가 모두 같은 객체를 가리키고 있으므로 id가 동일.

140711661904336

In [76]:
id(4)

140711661904368

In [78]:
#input('프롬프트:'): 사용자 입력을 받는 함수 
a=input()
print(a)

ddd
ddd

In [79]:
a=input('프롬프트를 입력하시오.: ')
print(a)

프롬프트를 입력하시오.: dfadfs
dfadfs

In [80]:
a

'dfadfs'

### int(x)
- x: 문자열 형태의 숫자/소수 ->이를 정수로 반환함.
- 만일 x가 정수라면 그대로 반환함
- (참고) int(x, radix)는 radix 진수로 표현된 문자열 x를 10진수로 변환해 리턴

In [81]:
int('3') #문자열 형태의 숫자

3

In [82]:
int(3)

3

In [7]:
int(4324.7231413) #소수

4324

In [85]:
int('11',2) #2진수로 표현된 11을 10진수로 변환하면

3

In [86]:
int('10110000110',2)

1414

In [87]:
#16진수로 표현된 '1A'를 10진수로 변환하면
int('1A', 16)

26

- hex(x): x라는 정수값을 입력받으면 16진수로 변환하여 리턴함

In [8]:
hex(26)

'0x1a'

In [146]:
hex(0)

'0x0'

### isinstance(object(인스턴스), class)
- 입력으로 받은 인스턴스가 그 클래스의 인스턴스인지를 판단. 참이면 True, 거짓이면 False

In [88]:
class Person:
    pass

In [89]:
a= Person() #인스턴스
isinstance(a, Person)

True

In [94]:
b=3
isinstance(b, Person)

False

### lambda 인수1, 인수2, ... : 인수들의 표현식 
- 함수의 역할(def와 동일)인데, 보통 함수를 한줄로 간단히 만들 때 사용 or def를 사용할 수 없는 곳에 쓰임

In [95]:
#덧셈을 나타내는 함수
def sum0(a,b):
    return a+b
print(sum0(1,2))

3

In [97]:
#lambda식 자체가 함수이기 때문에 객체 지정해주기!!
sum1 = lambda a, b : a+b
print(sum1(1,2))

3

In [98]:
#def를 못쓰는 곳에 lamda 사용하기 - 리스트 내에 lambda 들어간 경우
##리스트 각각의 요소에 lambda 함수를 만들어 바로 사용할 수 있음!
myList = [lambda a,b:a+b, lambda a,b:a*b]
myList

In [102]:
myList[0](2,3)

5

In [103]:
myList[1](2,3)

6

In [104]:
suList= lambda a,b:a/b
suList(2,3)

0.6666666666666666

In [105]:
#len(s): s의 길이(요소의 개수) 반환
##보통 s는 문자열, 리스트, 튜플을 사용.
len('python')

6

In [106]:
a=[1,2,3,4,5]
len(a)

5

In [108]:
len((2,3,))

2

### list, str, tuple, type 함수
- list(s): 반복 가능한 자료 s를 입력받아 리스트로 변환해줌(단, s는 1개로만 넣을 수 있다.)
- str(object): 문자열 형태로 객체 변환해 리턴
- tuple(iterable): 튜플 형태로 변환해 리턴 
- type(object): 입력값의 자료형이 무엇인지 알려줌

In [109]:
##list(): 객체를 넣으면 무조건 리스트로 반환 
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [110]:
list((1,))

[1]

In [111]:
list((1,2,(5,1,6),8,19,(10,)))

[1, 2, (5, 1, 6), 8, 19, (10,)]

In [112]:
list('나는 파이썬이','좋아요')

TypeError: list expected at most 1 arguments, got 2

In [113]:
list({'a':'love'})

['a']

In [116]:
list(set([6,7,8]))

[8, 6, 7]

In [117]:
list(set('python'))

['n', 't', 'p', 'h', 'o', 'y']

In [118]:
#list를 list()에 넣으면 그냥 list 값 그대로 나옴.
list([1,2,3])

[1, 2, 3]

In [159]:
##str(): 객체를 넣으면 무조건 문자열 반환 
str(3)

'3'

In [160]:
str('hi')

'hi'

In [161]:
print('hi'.upper())
print(str('hi'.upper()))

HI
HI

In [162]:
str([1,2,3])

'[1, 2, 3]'

In [9]:
str((1,2))

'(1, 2)'

In [164]:
#tuple(): 객체를 넣으면 무조건 튜플 반환
tuple([1,2,3])

(1, 2, 3)

In [165]:
tuple('suyeon')

('s', 'u', 'y', 'e', 'o', 'n')

In [166]:
tuple((10,))

(10,)

In [170]:
#type(): 객체의 자료형이 무엇인지 반환
print(type('abc'))
print(type(33))
print(type([1,4,2,8]))
print(type((5,6,)))
print(type([]))
print(type(open('binary_file','w')))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'list'>
<class '_io.TextIOWrapper'>

### map(함수 f, iterable 자료형)
- 입력받은 자료형의 각 요소가 함수 f에 의해 수행된 결과를 묶어서 리턴

In [119]:
def two_times(numList):
    result=[]
    for num in numList:
        result.append(num*2)
    return result

In [120]:
print(two_times([1,2,3,4]))

[2, 4, 6, 8]

In [121]:
#위의 과정을 map을 이용하면 한번에
def two_times(x):
    return x*2

In [122]:
map(two_times, [1,2,3,4]) #그냥 이렇게 하면 map 함수가 반환됨

In [123]:
list(map(two_times, [1,2,3,4]))

[2, 4, 6, 8]

In [124]:
#위의 과정을 def말고 lambda + map을 이용해보면
list(map(lambda x: x*2, [1,2,3,4]))

[2, 4, 6, 8]

In [126]:
#예시 2) 1을 더해서 반환하는 함수를 map 이용해 만들어보자
def plus_one(x):
    return x+1

In [128]:
list(map(plus_one, [1,2,3,4]))

[2, 3, 4, 5]

In [129]:
list(map(lambda x: x+1, [1,2,3,4]))

[2, 3, 4, 5]

In [181]:
list(map(int, ['1','2']))

[1, 2]

### zip(iterable*)
- 동일한 개수로 이루어진 자료형을 묶어주는 역할을 함
- 이렇게 일대일로 묶여서 반환되는 것은 __튜플__!
- `반드시 반환 시 zip을 list나 dict로 묶어줘야 함.`(튜플로 묶어도 되는데, 실질적으로 list, dict를 많이 씀)
- 반복 가능한 자료형(문자열, 리스트, 딕셔너리, 튜플, 집합)을 __여러개__ 넣을 수 있다!

In [171]:
#그냥 zip만 뽑으면 안됨. list나 dict로 묶어주기 
zip([1,2,3],[4,5,6])

In [172]:
list(zip([1,2,3],[4,5,6])) #리스트 2개

[(1, 4), (2, 5), (3, 6)]

In [184]:
list(zip([1,2,3,11],[4,5,6],[9,10,11],['a','b','c'],['a',3,'z'])) #리스트 3개 이상

[(1, 4, 9, 'a', 'a'), (2, 5, 10, 'b', 3), (3, 6, 11, 'c', 'z')]

In [174]:
list(zip('abc','def')) #문자열 2개

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [13]:
tuple(zip((1,2,3),(4,5,), (1,2))) #튜플 3개

((1, 4, 1), (2, 5, 2))

In [2]:
#보통 dict(zip())으로 많이 씀.-즉, 리스트를 넣어서 딕셔너리 반환 (이경우, 리스트 2개만 넣어야 한다!! 그래야 딕셔너리를 만들 수 있으니까.)
dict(zip([1,2,3],[4,5,6]))

{1: 4, 2: 5, 3: 6}

In [10]:
#또는 for문 안에 list로 많이 씀.(여기서 dict는 쓸수없음. 인덱싱이 불가능하기 때문.)
for a,b in list(zip([1,2,3],[4,5,6])): #어차피 값들이 모두 튜플이라서..
    print(a)
    print(b) #이렇게 출력해도 된다.

1
4
2
5
3
6

In [179]:
#보통은 for문으로 쓸 때는 list로 묶지 않고 그냥 써준다.
for a,b in zip([1,2,3],[4,5,6]):
    print(a,b)

1 4
2 5
3 6

In [11]:
subject = ['수학','과학','영어','사회','국어']
su_score = [98, 97, 90, 100, 91]
ed_score = [50, 100, 71, 62, 88]
for a, b in zip(subject, ed_score):
    print(a,b)

수학 50
과학 100
영어 71
사회 62
국어 88

In [12]:
scores = list(zip(su_score, ed_score))
print(scores)
sub_scores = dict(zip(subject, scores))
print(sub_scores)

[(98, 50), (97, 100), (90, 71), (100, 62), (91, 88)]
{'수학': (98, 50), '과학': (97, 100), '영어': (90, 71), '사회': (100, 62), '국어': (91, 88)}

In [18]:
#zip으로 묶인 sub_scores의 요소들을 뽑고 싶으면 
for x in sub_scores:
    print(x, sub_scores[x])

수학 (98, 50)
과학 (97, 100)
영어 (90, 71)
사회 (100, 62)
국어 (91, 88)

### max(iterable), min(iterable)
- 반복 가능한 자료형의 최대값, 최소값 반환

In [10]:
max(['a','b','c'])

'c'

In [132]:
max((4,5,243,45992,12))

45992

In [133]:
max('abc')

'c'

In [135]:
min('abc')

'a'

In [136]:
#oct(x): 정수 형태의 x를 8진수 문자열로 바꿔 리턴
oct(34)

'0o42'

In [137]:
oct(12345)

'0o30071'

### open(파일명, [mode])
- mode에는 w(쓰기모드), r(읽기모드), a(추가모드), b(바이너리 모드)
- 여기서 b는 w,r,a와 함께 사용함
- mode 생략 시 디폴트는 'r'

In [138]:
f= open('binary_file','wb') #바이너리 쓰기 모드

In [140]:
f= open('binary_file','rb') #바이너리 읽기 모드
f.close()

In [ ]:
#둘은 같은 코드!
f = open('read.txt','r')
f = open('read.txt')

### range([start],stop,[step])
- for문과 자주 사용됨 
- 시작~끝 step에 해당하는 범위의 값을 반복 가능한 객체로 만들어 리턴

In [20]:
#인수가 1개 : stop
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [149]:
#인수가 2개: start, stop
range(10, 20)

range(10, 20)

In [150]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [151]:
#인수가 3개: start, stop, step
list(range(44, 78, 3))

[44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77]

In [152]:
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

### sorted(iterable)
- 입력값을 정렬한 후, 결과를 __리스트__로 반환
- (참고) 리스트.sort() 함수의 경우, 이거 실행후 리스트 출력하면 자동으로 정렬된 리스트가 반환됨.

In [153]:
sorted([1,6,9,2])

[1, 2, 6, 9]

In [154]:
sorted(['a','w','l','s','p'])

['a', 'l', 'p', 's', 'w']

In [155]:
sorted('python')

['h', 'n', 'o', 'p', 't', 'y']

In [156]:
sorted(('tuple'))

['e', 'l', 'p', 't', 'u']

In [158]:
a= [1,6,9,2]
a.sort()
print(a)

[1, 2, 6, 9]